# Ignore everything
*
# Unignore anything that is a directory
!*/
# File type whitelist
!*.v    # Verilog source files
!*.vhd  # VHDL source files
!*.xpr  # Vivado project files
!*.c    # C source files

